@using PagedList.Mvc;
@using PagedList;
@model PagedList.IPagedList<PBL3.Models.SanPham> 

@{
    ViewBag.Title = "KhuyenMai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<h2>KhuyenMai</h2>

<table class="table">
    <tr>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Số lượng
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>

        </tr>
    }

</table>
<br />
@Html.PagedListPager(Model, page => Url.Action("KhuyenMai",
new { id = ViewBag.ID_KM, page }))
