@model IEnumerable<PBL3.Models.ChiTietHoaDon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên sản phẩm
        <th>
            Số lượng
        </th>
        <th>
            Giá tiền
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SanPham.TenSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SanPham.GiaBan)
        </td>
        
        <td>
            <a href="/Admin/ChiTietHoaDons/Details/@item.ID_SP" class="btn btn-sm btn-info"> <i class="fa-sharp fa-solid fa-circle-info"></i></a>
        </td>
    </tr>
}

</table>
<p>
    <button type="button" name="back" class="btn btn-success btn-md" onclick="location.href='/Admin/HoaDons/Index'">Quay lại</button>
</p>
