
@{
    ViewBag.Title = "ThanhCong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đặt mua thành công</h2>

<div class="row">
    <a href="~/Trang-chu" class="btn btn-success "> Trở lại trang chủ </a>
    <a href="~/Gio-hang" class="btn btn-success"> Trở lại giỏ hàng </a>
</div>
    

